* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    /*display:table-cell;*/
    vertical-align: middle;
}


/*modal*/

#modal-description {
    margin: 20px;
    text-align: justify;
    text-justify: inter-word;
}

.modal {
    text-align: center;
    margin-top: 15%;
}

#modal-pic {
    width: 150px;
    height: 150px;
}


/* ---- button ---- */

.button {
    display: inline-block;
    padding: 10px 18px;
    margin-bottom: 10px;
    background: #EEE;
    border: none;
    border-radius: 7px;
    background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2));
    color: #222;
    font-family: sans-serif;
    font-size: 16px;
    text-shadow: 0 1px white;
    cursor: pointer;
}

.button:hover {
    background-color: #8CF;
    text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
    color: #222;
}

.button:active,
.button.is-checked {
    background-color: #28F;
}

.button.is-checked {
    color: white;
    text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}


/* ---- button-group ---- */

.button-group:after {
    content: '';
    display: block;
    clear: both;
}

.button-group .button {
    float: left;
    border-radius: 0;
    margin-left: 0;
    margin-right: 1px;
}

.button-group .button:first-child {
    border-radius: 0.5em 0 0 0.5em;
}

.button-group .button:last-child {
    border-radius: 0 0.5em 0.5em 0;
}


/* ---- isotope ---- */

.grid {
    border: 1px solid #333;
    align-content: center;
}


/* clear fix */

.grid:after {
    content: '';
    display: block;
    clear: both;
}


/* ---- .element-item ---- */

.element-item {
    position: relative;
    text-align: center;
    float: left;
    /* width: 20%; */
    /* height: 250px;  */
    /* margin: 5px; */
    padding: 10px;
    background: white;
    color: black;
}


/* @media (max-width: 768px) {
    .element-item {
        width: 50%;
    }
} */

.element-item>* {
    margin: 0;
    padding: 0;
}

.name {
    /* margin-top: -150px; */
    color: black;
    background: white;
    /* z-index: 2; */
}

.propic {
    width: 100%;
    height: 100%;
    z-index: 1;
}