html {
    font-size: 1em;
}

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.45;
    letter-spacing: .5px;
    color: #333;
    padding-top: 31px;
    text-align: justify;
}

p {
    margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4 {
    margin: 1.414em 0 0.5em;
    font-family: ;
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 3.998em;
}

h2 {
    font-size: 2.827em;
}

h3 {
    font-size: 1.999em;
}

h4 {
    font-size: 1.414em;
}

small,
.font_small {
    font-size: 0.707em;
}

#nav_top {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    text-decoration: none;
    line-height: 2em;
}

.content-text {
    text-align: justify;
}

.banner-image {
    width: 100%;
    margin: 0px;
}

.banner {
    background-image: url(../resources/banner-notext.png);
    color: white;
}

.grey-background {
    margin: 0px;
    background-color: #F5F5F5;
    color: black;
}

.banner-text {
    padding-left: 74px;
    padding-top: 143px;
    padding-bottom: 143px;
    text-align: left;
}

@media (max-width: 750px) {
    .banner-text {
        padding: 32px;
        text-align: center;
    }
    .content-text {
        text-align: center;
    }
}

.rectangle-button {
    border: 3px solid black;
    /*width: auto;*/
    /*display: inline;*/
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

#bot_footer {
    align-content:center;
    vertical-align: middle;
    background-color: black;
    color: white;
}
#footer_text {
    padding: 20px !important;
}
